extends template

block content
  div.row
    div.col.s12.m6.detail-profile-sidebar
      div.members
        p.headline Members of #{dept.group_name}
        include scholar_cards.pug
      div.publications-list
        p.headline Publications
        each detail, pubid in pub_count
          div.publication 
            a(href="/publications/" + pubid) #{detail.name} (#{detail.count})
        
      div.moreinfo
        p.headline More Information
        if dept_detail.url
          div
            a(href=dept_detail.url, target="_blank") #{dept.group_name} Department Homepage
        if dept_detail.parent_id
          div
            a(href="/departments/" + dept_detail.parent_id) Belongs to: #{dept_detail.parent_name}
  
    div.col.s12.m6.detail-works
      p.headline Works Found: #{works_count}
      include works_list.pug
