extends template

block content
  div.row
    div.col.s12.m8
      div.col.s12
        p.headline= sampling
      each pers, i in people
        unless i%6
          div.row
        div.col.s2
          div.card
            div.card-image
              a(href="/people/" + pers.person_id)
                img.responsive-img(src=imgrootdir + pers.image + defimgext)
                button.btn-floating.right-fab.blue.darken-4= pers.count
            p.cardname
              a(href="/people/" + pers.person_id)= pers.last_name
    div.col.s12.m4
      p.headline Recent Contributions
      each work in works
        div.col.s4.m12
          div.card-panel
            p.title.work-title
              a(href="/works/"+ work.id)= work.work_title
            p.work-type= work.work_type
            p.contributors
              each contrib, index in work.contributors
                case contrib.role
                  when "Author"
                  when "Performer"
                  when "Composer"
                  when "Creator"
                  when "Director"
                  when "Presenter"
                    if contrib.person_id
                      span
                        a(href="/people/" + contrib.person_id)= contrib.display_name
                    else
                      span= contrib.display_name
                    if index < work.contributors.length - 1
                      | ; 
            p.work-pub
              a(href="/publications/" + work.pubid)= work.publication
              span.work-date= work.year
      
