extends template

block content
  div.row
    div.col.s12.m8
      div.col.s12
        p.headline= sampling
      each pers, i in people
        unless i%6
          div.row
        div.col.s2
          div.card
            div.card-image
              img(src=imgrootdir + pers.image + defimgext)
              button.btn-floating.right-fab.blue.darken-4= pers.count
            p.cardname= pers.last_name
    div.col.s12.m4
      p.headline Recent Contributions
      each work in works
        div.col.s4.m12
          div.card-panel
            p.work-title= work.title_primary
            p.work-type= work.type
            - var authlist = []
            each auth in work.contributors
              - authlist.push(auth.display_name)
            p.work-authors #{authlist.join(", ")}
            p.work-pub= work.name
              span.work-date= work.publication_date_year
      
