extends template

block content
  div.row
    div.col.s12.m6.detail-profile-sidebar
      div.row
        p.headline Active #{appconf.orgshortname} Contributors to #{journal.name}
        include scholar_cards.pug

      div.row.moreinfo
        p.headline More Information
        ul.collapsible(data-collapsible="accordion")
          if journal.publisher_id 
            li
              div.col.s6 Publisher:
              div.col.s6 
                a(href="/publishers/", journal.publisher_id)= journal.publisher_name
          if journal.identifiers
            li
              div.col.s6 Identifiers:
              div.col.s6 
                each ident in journal.identifiers
                  div= ident.identifier
          if romeo.numhits
            include romeo.pug

    div.col.s12.m6.detail-works
      p.headline Works Found: #{total_works}
      include works_block.pug
