extends template

block content
  div.container
    div.row
      div.col.s12.center-align
        include letters.pug
      
    div.row
      div.col.s12
        h4 Journals
      
    div.row
      div.col.s12
        table.striped.dept-list
          tr
            th(style="width: 10%") Identifiers
            th(style="width: 35%") Journal Name
            th(style="width: 30%") Publisher
            th.center-align(style="width: 10%") # of Works
            each journal in journal_list
              tr
                td
                  if journal.identifier
                    div= journal.identifier
                  if journal.alt_identifier
                    div= journal.alt_identifier
                td
                  a(href="/journals/" + journal.id)= journal.name
                td
                  a(href="/publishers/" + journal.publisher_id)= journal.publisher_name
                if journal.cnt
                  td.center-align= journal.cnt
                else
                  td.center-align 0

    div.row
      div.col.s12.center-align
        include letters.pug
