ul.pagination
  form(method="get", action=cur_list)
    label(for="letter-selector") Jump to: 
    select#letter-selector.letter-selector.browser-default(name="page")
      each count, letter in letter_list
        if letter == cur_letter
          option(value=letter, selected) #{letter} 
            small (#{count})
        else
          option(value=letter) #{letter} 
            small (#{count})
