ul.pagination
  form(method="get", action=cur_list)
    select#letter-selector.browser-default(name="page")
      each letter in letter_list
        if letter.first_letter == cur_letter
          option(selected) #{letter.first_letter} (#{letter.count})
        else
          option #{letter.first_letter} (#{letter.count})
