mixin buildSearchUrl(work_detail)
  case work_detail.work_type
    when "Book"
      include fulltext/books.pug
    when "Book Section"
      include fulltext/booksection.pug
    when "Journal Article"
      include fulltext/article.pug
    when "Conference Paper"
      include fulltext/conference.pug
    default
      - searchurl = null
mixin getMediaIcon(worktype, color)
  case worktype
    when "Book"
    when "Book Section"
      span(class="icon ion-ios-book text-lighten-1 " + color + "-text")
    when "Journal Article"
      span(class="icon ion-document-text text-lighten-1 " + color + "-text")
    when "Conference Paper"
    when "Presentation/Lecture"
    when "Conference Poster"
      span(class="icon ion-ios-people text-lighten-1 " + color + "-text")
    when "Webpage"
      span(class="icon ion-earth text-lighten-1 " + color + "-text")
    when "Blog Post"
      span(class="icon ion-social-rss text-lighten-1 " + color + "-text")
    when "Sound Recording"
      span(class="icon ion-volume-medium text-lighten-1 " + color + "-text")
    when "Video Recording"
      span(class="icon ion-videocamera text-lighten-1 " + color + "-text")
    when "Book Review"
      span(class="icon ion-ios-bookmarks text-lighten-1 " + color + "-text")
    when "Working Paper/Whitepaper/Report"
      span(class="icon ion-ios-list text-lighten-1 " + color + "-text")
    default
      span(class="icon ion-document text-lighten-1 " + color + "-text")
mixin romeoicon(icontext)
  case icontext
    when "unclear"
    when "unknown"
      span.icon.ion-help-circled.blue-grey-text.text-lighten-1 
      span Unclear/Unknown
    when "can"
      span.icon.ion-checkmark-circled.green-text.darken-1 
      span Yes
    when "restricted"
      span.icon.ion-alert-circled.amber-text.text-accent-4 
      span With Restrictions
    when "cannot"
      span.icon.ion-close-circled.red-text 
      span No
    default
      span.icon.ion-minus-circled.blue-grey-text.text-lighten-1 
      span No Data Available
mixin romeocolor(rcolor)
  case rcolor
    when "gray"
      - romeoClassColor = "grey"
    when "yellow"
      - romeoClassColor = "amber"
    default
      - romeoClassColor = rcolor

mixin holdings(url, title, i)
  - var divid = "searchurl" + i
  div.modal.modal-fixed-footer(id=divid)
    div.modal-content.moreinfo
      p.headline #{appconf.fulltext.buttontext} for #{title}
      div.framewrap
        div.frame-container
          iframe(src=url, frameborder="0")
    div.modal-footer
      a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") OK

mixin contributors(conttype, rss)
  if work_detail.work_data[conttype] && work_detail.work_data[conttype].length
    each contrib,idx in work_detail.work_data[conttype]
      - var fullname = contrib.given + " " + contrib.family
      if contrib.contribid
        if rss
          a(href=appconf.appurls.apphome + "/people/" + contrib.contribid)= fullname
          if idx < work_detail.work_data[conttype].length - 1
            | ; 
        else
          div
            a(href="/people/" + contrib.contribid)= fullname
            i  (#{conttype.charAt(0).toUpperCase() + conttype.slice(1)})
      else
        if rss
          | #{fullname}
          if idx < work_detail.work_data[conttype].length - 1
            | ; 
        else
          div= fullname
            i  (#{conttype.charAt(0).toUpperCase() + conttype.slice(1)})

- var searchurl
- var romeoClassColor
