ul.pagination
  if cur_page == 1
    li.disabled.grey-text.lighten-1
      i.material-icons fast_rewind
    li.disabled.grey-text.lighten-1
      i.material-icons skip_previous
  else
    li.waves-effect
      a(href=cur_list + "?page=1&limit=" + limit + "&filters=" + applied_filters)
        i.material-icons(title="First Page (1)") fast_rewind
    li.waves-effect
      a(href=cur_list + "?page="+ (cur_page - 1) + "&limit=" + limit + "&filters=" + applied_filters)
        i.material-icons(title="Previous Page (" + (cur_page - 1) + ")") skip_previous

  form(method="get", action=cur_list)
    select#page-selector.page-selector.browser-default(name="page")
      - var n = 1
      while n <= page_count
        if n == cur_page
          option(value=n, selected) Page #{n}
        else
          option(value=n) Page #{n}
        - n++
    input(type="hidden", name="limit", value=limit)
    input(type="hidden", name="filters", value=applied_filters)

  if cur_page == page_count
    li.disabled.grey-text.lighten-1
      i.material-icons skip_next
    li.disabled.grey-text.lighten-1
      i.material-icons fast_forward
  else
    li.waves-effect
      a(href=cur_list + "?page=" + (Number(cur_page) + 1) + "&limit=" + limit + "&filters=" + applied_filters)
        i.material-icons(title="Next Page (" + (Number(cur_page) + 1) + ")") skip_next
    li.waves-effect
      a(href=cur_list + "?page=" + page_count + "&limit=" + limit + "&filters=" + applied_filters)
        i.material-icons(title="Last Page (" + page_count + ")") fast_forward
