extends template

block content
  div.container
    div.row
      div.col.s12.m8
        h4 #{pers.first_name} #{pers.last_name}
      div.col.s12.m4.right-align
        h4.grey-text.works-count Works Found: #{works_count}

    div.row
      div.col.s12.m3.z-depth-2.person-profile-sidebar
        div.col.s3.m12
          img.responsive-img.circle(src=imgrootdir + pers.image + defimgext)
        div.col.s3.m12
          p.person-profile-section.blue.darken-4.white-text Departments &amp; Programs
          each dept in pers.memberships
            if dept
              div
                a(href="/departments/" + dept.id)= dept.name
        div.col.s3.m12
          p.person-profile-section.blue.darken-4.white-text #{orgshortname} Co-Authors
        div.col.s3.m12
          p.person-profile-section.blue.darken-4.white-text Publications
          each count, pub in pub_count
            div.publication 
              a(href="/publications/" + pub[0]) #{pub[1]} (#{count})
          
      div.col.s12.m9.person-works
        div.col.s12
          include works_list.pug
