extends template

block content
  div.container
    div.row
      div.col.s12
        include letters.pug
        
    div.row
      div.col.s12
        table.striped.people-list
          tr
            th
            th Contributor
            th Departments/Programs
            th Works in Database
            each pers in people_list
              tr
                td.image-cell
                  a(href="/people/" + pers.person_id)
                    img.responsive-img.circle(src=imgrootdir + pers.image + defimgext)
                td
                  a(href="/people/" + pers.person_id) #{pers.last_name}, #{pers.first_name}
                td
                  each dept in pers.memberships
                    div
                      a(href="/departments/" + dept.id)= dept.name
                td= pers.cnt
