extends template

block content
  div.row.s0.m12
    div.col.s12
      h4.detail-title #{pers.first_name} 
        if pers.middle_name
          | #{pers.middle_name} 
        | #{pers.last_name} 
        a.btn-floating.orange.darken-3.waves-effect.waves-light(href="/people/" + pers.person_id + "/rss")
          span.icon.ion-social-rss

  div.row.s12.hide-on-med-and-up
    div.valign-wrapper
      div.col.s3
        img.responsive-img.circle(data-usertype=pers.user_type, src=appconf.appurls.imgrootdir + pers.image + appconf.images.defimgext, alt=pers.first_name + " " + pers.last_name)
      div.col.s9
        h4 #{pers.first_name} 
          if pers.middle_name
            | #{pers.middle_name} 
          | #{pers.last_name}

  div.row
    div.col.hide-on-small-only.m3.z-depth-2.detail-profile-sidebar.person-profile-sidebar
      div.col.s3.m12.center-align
        img.responsive-img.circle(data-usertype=pers.user_type, src=appconf.appurls.imgrootdir + pers.image + appconf.images.defimgext, alt=pers.first_name + " " + pers.last_name)
      if pers.alt_last_names && pers.alt_last_names.length
        div.col.s3.m12
          p.person-profile-section.blue.darken-4.white-text Alternate Surnames
          table
            each pn in pers.alt_last_names
              if pn
                tr
                  td= pn

      if pers.alt_first_names && pers.alt_first_names.length
        div.col.s3.m12
          p.person-profile-section.blue.darken-4.white-text Alternate Given Names
          table
            each pn in pers.alt_first_names
              if pn
                tr
                  td= pn
      
      if pers.memberships.length
        div.col.s3.m12
          p.person-profile-section.blue.darken-4.white-text Departments &amp; Programs
          table.highlight
            each dept in pers.memberships
              if dept
                tr
                  td
                    a(href="/departments/" + dept.id)= dept.name
              
      //- Coauthors other than self
      if coauthors.length > 1
        div.col.s3.m12
          p.person-profile-section.blue.darken-4.white-text #{appconf.customtext.orgshortname} Co-Authors
          table.highlight
            each ca in coauthors
              if ca.id != pers.person_id
                tr
                  td
                    a(href="/people/" + ca.id) #{ca.name} 
                      span.new.badge.blue.darken-1.right(data-badge-caption=(ca.count > 1 ? "works" : "work")) #{ca.count}

      div.col.s3.m12
        p.person-profile-section.blue.darken-4.white-text Journals
        table.highlight
          each detail in pub_count
            tr
              td 
                a(href="/publications/" + detail.id) #{detail.name} 
                  span.new.badge.blue.darken-1.right(data-badge-caption=(detail.count > 1 ? "works" : "work")) #{detail.count}
          
    div.col.s12.m9.detail-works
      include works_block.pug
