extends template

block content
  div.container
    div.row
      div.col.s12.center-align
        include letters.pug
        
    div.row
      div.col.s12
        table.striped.people-list
          tr
            th(style="width: 6%")
            th(style="width: 4%")
            th(style="width: 20%") Contributor
            th(style="width: 20%") Departments/Programs
            th.center-align(style="width: 10%") Works in Database
            each pers in people_list
              tr
                td.center-align
                  a(href="/people/" + pers.person_id)
                    img.responsive-img.circle(data-usertype=pers.user_type, src=appconf.imgrootdir + pers.image + appconf.defimgext, alt=pers.first_name + " " + pers.last_name)
                td.center-align
                  a.btn-floating.orange.darken-3.waves-effect.waves-light(href="/people/" + pers.person_id + "/rss")
                    span.icon.ion-social-rss
                td
                  a(href="/people/" + pers.person_id) #{pers.last_name}, #{pers.first_name} #{pers.middle_name}
                td
                  each dept in pers.memberships
                    if dept
                      div
                        a(href="/departments/" + dept.id)= dept.name
                if pers.cnt
                  td.center-align= pers.cnt
                else
                  td.center-align 0

    div.row
      div.col.s12.center-align
        include letters.pug
