extends template

block content
  div.row.s0.m12
    div.col.s12
      h3 #{pers.first_name} 
        if pers.middle_name
          | #{pers.middle_name} 
        | #{pers.last_name}
  div.row.s12.hide-on-med-and-up
    div.valign-wrapper
      div.col.s3
        img.responsive-img.circle(src=appconf.imgrootdir + pers.image + appconf.defimgext, alt=pers.first_name + " " + pers.last_name)
      div.col.s9
        h4 #{pers.first_name} 
          if pers.middle_name
            | #{pers.middle_name} 
          | #{pers.last_name}

  div.row
    div.col.hide-on-small-only.m3.z-depth-2.detail-profile-sidebar.person-profile-sidebar
      div.col.s3.m12.center-align
        img.responsive-img.circle(src=appconf.imgrootdir + pers.image + appconf.defimgext, alt=pers.first_name + " " + pers.last_name)
      div.col.s3.m12
        p.person-profile-section.blue.darken-4.white-text Departments &amp; Programs
        each dept in pers.memberships
          if dept
            div
              a(href="/departments/" + dept.id)= dept.name
              
      if coauthors
        div.col.s3.m12
          p.person-profile-section.blue.darken-4.white-text #{orgshortname} Co-Authors
          each ca in coauthors
            div.contributor
              a(href="/people/" + ca.id)= ca.name

      div.col.s3.m12
        p.person-profile-section.blue.darken-4.white-text Publications
        each detail, pubid in pub_count
          div.publication 
            a(href="/publications/" + pubid) #{detail.name} (#{detail.count})
          
    div.col.s12.m9.detail-works
      p.headline Works Found: #{total_works}
      include works_block.pug
