extends template

mixin pubitem(pub)
  if pub.identifier && pub.identifier_type == "ISSN"
    a.collection-item(href="/journals/" + pub.id)= pub.name
  else
    p.collection-item= pub.name

block content
  div.row
    div.col.s12
      h4= publisher.name
  div.row
    div.col.s12.m6.detail-profile-sidebar
      div.row
        p.headline Active #{appconf.orgshortname} Contributors
        include scholar_cards.pug

      div.row.moreinfo
        p.headline More Information
        if publisher.url 
          div.row
            div.col.s3
              b Publisher URL:
            div.col.s9 
              a(href=publisher.url, target="_blank")= publisher.url
        if publisher.publications[0]
          div.row
            div.col.s3
              b Publication List
            if pubsets.length > 1
              div.col.s9.carousel.carousel-slider(data-indicators="true")
                each ps, index in pubsets
                  div.carousel-item(href="#" + index)
                    p.center: b Page #{index + 1} of #{pubsets.length}
                    div.collection
                      each pub in ps
                        +pubitem(pub)
            else
              div.col.s9
                div.collection
                  each pub in pubsets[0]
                    +pubitem(pub)
        
    div.col.s12.m6.detail-works
      include works_block.pug
