extends template

block content
  div.row
    div.col.s12
      h4= journal.name
  div.row
    div.col.s12.m5.detail-profile-sidebar
      div.row
        p.headline Active #{appconf.customtext.orgshortname} Contributors
        include scholar_cards.pug

      div.row.moreinfo
        p.headline More Information
        if journal.publisher_id 
          div.row
            div.col.s5
              b Publisher:
            div.col.s7 
              a(href="/publishers/" + journal.publisher_id)= journal.publisher_name
          if journal.identifier
            div.row
              div.col.s5
                b Identifier(s):
              div.col.s7
                div= journal.identifier
                if journal.alt_identifier
                  div= journal.alt_identifier
          if romeo && romeo.numhits > 0
            div.row
              div.col.s5: b RoMEO Color:
              +romeocolor(romeo.publisher.romeocolour[0])
              div(class="col s7 lighten-1 " + romeoClassColor)= romeo.publisher.romeocolour[0]
            include romeo.pug
          else
            if journal.identifier_type === "ISSN"
              div.row
                div.col.s5
                  b Not found in RoMEO:
                div.col.s7
                  a(href="http://www.sherpa.ac.uk/forms/new-journal.php?la=en&fIDnum=%7C&mode=simple&service-identifier=romeo&form-context-url=http%3A%2F%2Fwww.sherpa.ac.uk%2Fromeo%2Fsearch.php", target="_blank") Suggest addition to RoMEO database 


    div.col.s12.m7.detail-works
      include works_block.pug
