extends template

block content
  div.row
    div.col.s12
      h4= publisher.name
  div.row
    div.col.s12.m6.detail-profile-sidebar
      div.row
        p.headline Active #{appconf.orgshortname} Contributors to #{publisher.name}
        include scholar_cards.pug

      div.row.moreinfo
        p.headline More Information
        if publisher.url 
          div.row
            div.col.s4
              b Publisher URL:
            div.col.s8 
              a(href=publisher.url, target="_blank")= publisher.url
        if publisher.publications
          div.row
            div.col.s4
              b Publication List
            div.col.s8.carousel.carousel-slider(data-indicators="true")
              each ps, index in pubsets
                div.carousel-item(href="#" + index)
                  p.center: b Page #{index + 1} of #{pubsets.length}
                  each pub in ps
                    div
                      if pub.identifiers && pub.identifiers[0].type == "ISSN"
                        a(href="/journals/" + pub.id)= pub.name
                      else
                        span= pub.name

        
    div.col.s12.m6.detail-works
      p.headline Works Found: #{total_works}
      include works_block.pug
