mixin romeoicon(icontext)
  case icontext
    when "unclear"
    when "unknown"
      span.icon.ion-help-circled.blue-grey-text.text-lighten-1 Unclear/Unknown
    when "can"
      span.icon.ion-checkmark-circled.green-text.darken-1 Yes
    when "restricted"
      span.icon.ion-alert-circled.amber-text.text-accent-3 With Restrictions
    when "cannot"
      span.icon.ion-close-circled.red-text No

div.collapsible(data-collapsible="accordion")
  div.row.collapsible-header
    div.col.s6 RoMEO Color:
    div(class="col s2 lighten-1" + journal.romeo.publishers.publisher.romeocolour)
    div.col.s4= journal.romeo.publishers.publisher.romeocolour
  div.row.collapsible-body
    table.striped
      if journal.romeo.publishers.publisher.preprints
        tr
          th Can archive PRE-prints:
          td= +romeoicon(journal.romeo.publishers.publisher.preprints.prearchiving)
            if journal.romeo.publishers.publisher.preprints.prerestrictions
              ol
                each pr in journal.romeo.publishers.publisher.preprints.prerestrictions
                  li= pr.prerestriction
      if journal.romeo.publishers.publisher.postprints
        tr
          th Can archive POST-prints:
          td= +romeoicon(journal.romeo.publishers.publisher.postprints.postarchiving)
            if journal.romeo.publishers.publisher.postprints.postrestrictions
              ol
                each pr in journal.romeo.publishers.publisher.postprints.postrestrictions
                  li= pr.postrestriction
      if journal.romeo.publishers.publisher.pdfversion
        tr
          th Can archive publisher/PDF version:
          td= +romeoicon(journal.romeo.publishers.publisher.pdfversion.pdfarchiving)
            if journal.romeo.publishers.publisher.pdfversion.pdfrestrictions
              ol
                each pr in journal.romeo.publishers.publisher.pdfversion.pdfrestrictions
                  li= pr.pdfrestriction
      if journal.romeo.publishers.publisher.conditions
        tr
          th Conditions for ANY archving:
          td
            ol
              each cond in journal.romeo.publishers.publisher.conditions
                li= cond.condition
      if journal.romeo.publishers.publisher.copyrightlinks
        tr
          th Copyright Links from Publisher:
          td
            ol
              each cl in journal.romeo.publishers.publisher.copyrightlinks
                li
                 a(href=cl.copyrightlink.copyrightlinkurl, target="_blank")= cl.copyrightlink.copyrightlinktext
    
    p
      img(src="/images/romeosmall.gif", alt="SHERPA/RoMEO logo")
      small This information is derived from the 
        a(href="http://www.sherpa.ac.uk/romeo.php", target="_blank") RoMEO
        | database which is compiled by 
        a(href="http://www.sherpa.ac.uk", target="_blank") SHERPA 
        | and has been modified for use here.
    p
      a(rel="license", href="http://creativecommons.org/licenses/by-nc-sa/4.0/")
        img(alt="Creative Commons License", style="border-width:0", src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png")
      small This work is licensed under a 
        a(rel="license", href="http://creativecommons.org/licenses/by-nc-sa/4.0/") Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
        | .

  
    
