doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
  id= feed_link
  title= title
  link(href=feed_link, rel='self')
  author
    name= appconf.customtext.organization
  if feed_detail.length
    updated= moment(feed_detail[0].updated_at).toISOString()
  each work_detail in feed_detail
    include mixins.pug
    entry
      - var worklink = appconf.appurls.apphome + "/works/" + work_detail.work_id
      id= worklink
      title !{work_detail.work_data.title}
      updated= moment(work_detail.updated_at).toISOString()
      link(href=worklink, rel='alternate')
      category(term=work_detail.work_type)
      +contributors('author')
      +contributors('editor')
      +contributors('director')
      +contributors('composer')
      summary(type='xhtml')
        div(xmlns="http://www.w3.org/1999/xhtml")
          p: i= work_detail.work_type
          p
            +contributors('author')
            +contributors('editor')
            +contributors('director')
            +contributors('composer')
          p
            a(href=appconf.appurls.apphome + "/publications/" + work_detail.pubid)= work_detail.pubname
            |  (#{work_detail.work_data.issued[0]["date-parts"][0]})

