doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
  id= feed_link
  title= title
  link(href=feed_link)= feed_link
  author
    name= appconf.organization
  if feed_detail.length
    updated= feed_detail[0].updated_at
  each work in feed_detail
    entry
      - var worklink = appconf.appurl + "/works/" + work.id
      id= worklink
      title !{work.title}
      updated= work.updated_at
      link(href=worklink, rel='alternate')= worklink
      category(term=work.work_type)
      each con in work.contributors
        contributor
          name= con.display_name
      summary(type='html')
        div: i= work.work_type
        each con in work.contributors
          div
            if con.person_id
              a(href=appconf.appurl + "/people/" + con.person_id)= con.display_name
            else
              = con.display_name
        div
          a(href=appconf.appurl + "/publications/" + work.pubid)= work.pubname 
          span (#{work.year})
