doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
  id= feed_link
  title= title
  link(href=feed_link, rel='self')
  author
    name= appconf.organization
  if feed_detail.length
    updated= moment(feed_detail[0].updated_at).toISOString()
  each work in feed_detail
    entry
      - var worklink = appconf.appurl + "/works/" + work.id
      id= worklink
      title !{work.title}
      updated= moment(work.updated_at).toISOString()
      link(href=worklink, rel='alternate')
      category(term=work.work_type)
      each con in work.contributors
        contributor
          name= con.display_name
      summary(type='xhtml')
        div(xmlns="http://www.w3.org/1999/xhtml")
          div: i= work.work_type
          each con in work.contributors
            div
              if con.person_id
                a(href=appconf.appurl + "/people/" + con.person_id)= con.display_name
              else
                = con.display_name
          div
            a(href=appconf.appurl + "/publications/" + work.pubid)= work.pubname 
            span (#{work.year})
