if people
  each pers, i in people
    div.col.s4.l3
      div.card.hoverable
        div.card-image
          a(href="/people/" + pers.person_id)
            img.responsive-img(data-usertype=pers.user_type, src=appconf.appurls.imgrootdir + pers.image + appconf.images.defimgext, alt=pers.first_name + " " + pers.last_name)
            button.btn-floating.right-fab.blue.darken-4= pers.count
        p.cardname
          a(href="/people/" + pers.person_id)= pers.last_name
else
  p None available
