doctype html
html
  head
    title= title
    include jquery.pug
    include materialize.pug
    link(rel='stylesheet', href='/css/style.css')
  body
    div.navbar-fixed
      nav.blue.darken-4
        div.nav-wrapper
          a.brand-logo(href="/")
            img(src=appconf.logo, alt=appconf.appname)
          a.button-collapse(href="#", data-activates="mobile-menu")
            i.material-icons menu
          ul#nav-mobile.right.hide-on-med-and-down
            li
              a(href="/works") Works
            li
              a(href="/departments") Departments &amp; Programs
            li
              a(href="/people") People
            li
              a(href="/publications") Publications
            li
              a(href="/publishers") Publishers
          ul#mobile-menu.side-nav
            li
              a(href="/works") Works
            li
              a(href="/departments") Departments &amp; Programs
            li
              a(href="/people") People
            li
              a(href="/publications") Publications
            li
              a(href="/publishers") Publishers

    header.row
      div.col.s12.m8
        p.tagline= appconf.tagline
      div.col.s12.m4
        form
          div.input-field
            input#search(type="search", required, placeholder=appconf.searchdeftext)
            label.label-icon(for="search")
              i.material-icons search
            i.material-icons close
  
    main
      block content
      
    footer.row
      div.col.s12
        p.center-align
          - var year = new Date().getFullYear()
          small &copy; #{year}, 
            a(href=appconf.orgurl, target="_blank")= appconf.organization
    
    script(type="text/javascript", src="/js/script.js")
