doctype html

include mixins.pug

html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include jquery.pug
    include materialize.pug
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    include navbar.pug

    header.row
      div.col.s12.m7
        p.tagline= appconf.customtext.tagline
      div.col.s12.m5(style="margin-top: 10px")
        form#searchform(method="get", action="/search")
          div.col.s10
            input#search(type="search", required, placeholder=appconf.customtext.searchdeftext, name="terms")
          div.col.s1
            button.btn-floating.waves-effect.waves-light.blue.darken-4(type="submit")
              i.material-icons search
  
    main
      block content
      
    footer.row.blue.darken-4.white-text.center-align
      div.col.s12
        p
          - var year = new Date().getFullYear()
          | &copy; #{year}, 
          a.white-text(href=appconf.appurls.orgurl, target="_blank")= appconf.customtext.organization
    
    script(type="text/javascript", src="/js/underscore-min.js")
    script(type="text/javascript", src="/js/script.js")
