extends template

block content
  div.container
    div.row
      div.col.s12
        h2= work_detail.work_title
        p.work-type= work_detail.work_type
    
    div.row
      div.col.s12
        table
          tr
            th.align-right Contributors:
            td= work_detail.contributors
          if work_detail.publication
            tr
              th.align-right Publication Title:
              td= work_detail.publication
          if work_detail.volume
            tr
              th.align-right Volume:
              td= work_detail.volume
          if work_detail.issue
            tr
              th.align-right Issue:
              td= work_detail.issue
          if work_detail.publisher
            tr
              th.align-right Publisher:
              td= work_detail.publisher
          if work_detail.location
            tr
              th.align-right Location:
              td= work_detail.location
          if work_detail.year
            tr
              th.align-right Date Published:
              td= work_detail.year
          if work_detail.start_page
            tr
              th.align-right Starting Page:
              td= work_detail.start_page
          if work_detail.end_page
            tr
              th.align-right Ending Page:
              td= work_detail.end_page
          if work_detail.url
            tr
              th.align-right URL:
              td
                a(href=work_detail.url)= work_detail.url
          if work_detail.summary
            tr
              th.align-right Summary:
              td= work_detail.summary
        
