extends template

mixin buildOpenurl
  case work_detail.work_type
    when "Book"
      - openurl += 'book&rft.genre=book&rft.btitle=' + work_detail.work_title + '&rft.date=' + work_detail.year + '&rft.isbn=' + work_detail.identifier
      each contrib in work_detail.contributors
        - openurl += '&au=' + contrib.display_name
    when "Book Section"
      - openurl += 'book&rft.genre=bookitem&rft.atitle=' + work_detail.work_title + '&rft.btitle=' + work_detail.publication + '&rft.date=' + work_detail.year + '&rft.isbn=' + work_detail.identifier
      each contrib in work_detail.contributors
        - openurl += '&au=' + contrib.display_name
    when "Journal Article"
      - openurl += 'journal&rft.genre=article&rft.atitle=' + work_detail.work_title + '&rft.jtitle=' + work_detail.publication + '&rft.date=' + work_detail.year + '&rft.issn=' + work_detail.identifier + '&rft.volume=' + work_detail.volume + '&rft.issue=' + work_detail.issue
      each contrib in work_detail.contributors
        - openurl += '&au=' + contrib.display_name
    when "Conference Paper"
      if work_detail.identifier_type == 'ISSN'
        - openurl += 'journal&rft.genre=conference&rft.atitle=' + work_detail.work_title + '&rft.jtitle=' + work_detail.publication + '&rft.date=' + work_detail.year + '&rft.issn=' + work_detail.identifier + '&rft.volume=' + work_detail.volume + '&rft.issue=' + work_detail.issue
        each contrib in work_detail.contributors
          - openurl += '&au=' + contrib.display_name
      else
        - openurl += 'book&rft.genre&rft.atitle=' + work_detail.work_title + '&rft.btitle=' + work_detail.publication + '&rft.date=' + work_detail.year + '&rft.isbn=' + work_detail.identifier
        each contrib in work_detail.contributors
          - openurl += '&au=' + contrib.display_name
    default
      - openurl = null

block content
  - var openurl = '?ctx_ver=Z39.88-2004&rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3A'
  div.container
    div.row
      div.col.s12
        h4.work-title !{work_detail.work_title}
          if work_detail.title_secondary
            | : !{work_detail.title_secondary}
          if work_detail.title_tertiary
            |  (!{work_detail.title_tertiary})
        p.work-type= work_detail.work_type
        +buildOpenurl
        if openurl
          p
            a(href=openurl, target="_blank")
              img(src=appconf.openurlimage, alt="Check for local availability")
    
    div.row
      div.col.s12.m7.offset-m1
        table
          tr
            th.right-align Contributors:
            td
              each contrib in work_detail.contributors
                if contrib.person_id
                  div
                    a(href="/people/" + contrib.person_id)= contrib.display_name
                      span.contrib-role  (#{contrib.role})
                else
                  div= contrib.display_name
                    span.contrib-role  (#{contrib.role})
          if work_detail.publication
            tr
              th.right-align Publication Title:
              td.work-pub
                a(href="/publications/" + work_detail.pubid)= work_detail.publication
          if work_detail.volume
            tr
              th.right-align Volume:
              td= work_detail.volume
          if work_detail.issue
            tr
              th.right-align Issue:
              td= work_detail.issue
          if work_detail.publisher
            tr
              th.right-align Publisher:
              td
                a(href="/publishers/" + work_detail.publisherid)= work_detail.publisher
          if work_detail.location
            tr
              th.right-align Location:
              td= work_detail.location
          if work_detail.year
            tr
              th.right-align Date Published:
              td= work_detail.year
          if work_detail.start_page
            tr
              th.right-align Starting Page:
              td= work_detail.start_page
          if work_detail.end_page
            tr
              th.right-align Ending Page:
              td= work_detail.end_page
          if work_detail.identifier_type && work_detail.identifier
            tr
              th.right-align= work_detail.identifier_type
              td= work_detail.identifier
          if work_detail.alt_identifier_type && work_detail.alt_identifier
            tr
              th.right-align= work_detail.alt_identifier_type
              td= work_detail.alt_identifier
          if work_detail.url
            tr
              th.right-align URL:
              td
                a(href=work_detail.url)= work_detail.url        
      if coverimage
        div.col.s0.m4
          img.z-depth-4(src=coverimage, alt="Cover Image for " + work_detail.work_title)
