extends template

mixin buildSearchUrl
  case work_detail.work_type
    when "Book"
      include fulltext/books.pug
    when "Book Section"
      include fulltext/booksection.pug
    when "Journal Article"
      include fulltext/article.pug
    when "Conference Paper"
      include fulltext/conference.pug
    default
      - searchurl = null

block content
  - var searchurl
  div.container
    div.row
      div.col.s12
        h4.work-title !{work_detail.work_title}
          if work_detail.title_secondary
            | : !{work_detail.title_secondary}
          if work_detail.title_tertiary
            |  (!{work_detail.title_tertiary})
        p.work-type= work_detail.work_type
    
    div.row
      +buildSearchUrl
      if searchurl
        div.col.s12.m1
          a.hoverable.local-avail(href=searchurl, target="_blank")
            img(src=appconf.fulltextimage, alt="Check for local availability")

      div.col.s12.m7.offset-m2
        table
          tr
            th.right-align Contributors:
            td
              each contrib in work_detail.contributors
                if contrib.person_id
                  div
                    a(href="/people/" + contrib.person_id)= contrib.display_name
                      span.contrib-role  (#{contrib.role})
                else
                  div= contrib.display_name
                    span.contrib-role  (#{contrib.role})
          if work_detail.publication
            tr
              th.right-align Publication Title:
              td.work-pub
                a(href="/publications/" + work_detail.pubid)= work_detail.publication
          if work_detail.volume
            tr
              th.right-align Volume:
              td= work_detail.volume
          if work_detail.issue
            tr
              th.right-align Issue:
              td= work_detail.issue
          if work_detail.publisher
            tr
              th.right-align Publisher:
              td
                a(href="/publishers/" + work_detail.publisherid)= work_detail.publisher
          if work_detail.location
            tr
              th.right-align Location:
              td= work_detail.location
          if work_detail.year
            tr
              th.right-align Date Published:
              td= work_detail.year
          if work_detail.start_page
            tr
              th.right-align Starting Page:
              td= work_detail.start_page
          if work_detail.end_page
            tr
              th.right-align Ending Page:
              td= work_detail.end_page
          if work_detail.identifier_type && work_detail.identifier
            tr
              th.right-align= work_detail.identifier_type
              td= work_detail.identifier
          if work_detail.alt_identifier_type && work_detail.alt_identifier
            tr
              th.right-align= work_detail.alt_identifier_type
              td= work_detail.alt_identifier
          if work_detail.url
            tr
              th.right-align URL:
              td
                a(href=work_detail.url)= work_detail.url        
      if coverimage
        div.col.s0.m2
          img.z-depth-4(src=coverimage, alt="Cover Image for " + work_detail.work_title)
