div.col.s12.works
  if works_list && works_list.length
    each work in works_list
      div.card.horizontal.valign-wrapper
        div.card-image.center-align
          if work.coverimage
            img(src=work.coverimage, alt="Cover Image for " + work.work_title)
          else
            +getMediaIcon(work.work_type, 'blue-grey')
        div.card-stacked
          div.card-content
            p.title.work-title
              a(href="/works/"+ work.id) !{work.work_title}
                if work.title_secondary
                  | : !{work.title_secondary}
                if work.title_tertiary
                  |  (!{work.title_tertiary})

            p.work-type= work.work_type
            if work.contributors && work.contributors.length
              p.contributors
                each contrib, index in work.contributors
                  case contrib.role
                    when "Author"
                    when "Performer"
                    when "Composer"
                    when "Creator"
                    when "Director"
                    when "Presenter"
                      if contrib.person_id
                        span
                          a(href="/people/" + contrib.person_id)= contrib.display_name
                      else
                        span= contrib.display_name
                      if index < work.contributors.length - 1
                        | ; 
            p.work-pub
              a(href="/publications/" + work.pubid)= work.publication
              span.work-date= work.year
          +buildSearchUrl(work)
          if searchurl || work.archive_url
            div.card-action.right-align
              if work.archive_url
                a.btn-flat.waves-effect.waves-light.blue-text.text-darken-4.local-avail(href=work.archive_url, target="_blank")
                  i.material-icons.left move_to_inbox
                  span= appconf.archive.buttontext
              if searchurl
                if work.work_type == "Book" || work.work_type == "Book Section"
                  - var surl = searchurl
                else
                  - var surl = "#searchurl"
                a.btn-flat.waves-effect.waves-light.blue-text.text-darken-4.local-avail(href=surl, target="_blank")
                  i.material-icons.left library_books
                  span= appconf.fulltext.buttontext

if searchurl
    div#searchurl.modal.modal-fixed-footer
      div.modal-content.moreinfo
        p.headline #{appconf.fulltext.buttontext}
        div.framewrap
          div.frame-container
            iframe(src=searchurl, frameborder="0")
      div.modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") OK