extends template

block content
  div.container
    div.row
      div.col.s0.m2.offset-m1.sidebar.z-depth-1
        div.indigo.darken-4.white-text.sidebar-title Filter Results
        div.filter-group
          ul.collection.with-header
            li.collection-header Work Types
            each wt, index in filter_worktypes
              if index < 5
                li.collection-item #{wt.fld} (#{wt.cnt})
              else if index == 5
                li.btn.waves-effect.waves-light.light-blue.darken-2.filter-toggle Show more results...
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
              else
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
        div.filter-group
          ul.collection.with-header
            li.collection-header Departments &amp; Programs
            each wt, index in filter_deptworks
              if index < 5
                li.collection-item #{wt.fld} (#{wt.cnt})
              else if index == 5
                li.btn.waves-effect.waves-light.light-blue.darken-2.filter-toggle Show more results...
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
              else
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
        div.filter-group
          ul.collection.with-header
            li.collection-header People
            each wt, index in filter_peopleworks
              if index < 5
                li.collection-item #{wt.fld} (#{wt.cnt})
              else if index == 5
                li.btn.waves-effect.waves-light.light-blue.darken-2.filter-toggle Show more results...
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
              else
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
        div.filter-group
          ul.collection.with-header
            li.collection-header Years
            each wt, index in filter_yearworks
              if index < 5
                li.collection-item #{wt.fld} (#{wt.cnt})
              else if index == 5
                li.btn.waves-effect.waves-light.light-blue.darken-2.filter-toggle Show more results...
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
              else
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
        div.filter-group
          ul.collection.with-header
            li.collection-header Publications
            each wt, index in filter_publicationworks
              if index < 5
                li.collection-item #{wt.fld} (#{wt.cnt})
              else if index == 5
                li.btn.waves-effect.waves-light.light-blue.darken-2.filter-toggle Show more results...
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
              else
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
        div.filter-group
          ul.collection.with-header
            li.collection-header Publishers
            each wt, index in filter_publisherworks
              if index < 5
                li.collection-item #{wt.fld} (#{wt.cnt})
              else if index == 5
                li.btn.waves-effect.waves-light.light-blue.darken-2.filter-toggle Show more results...
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
              else
                li.collection-item.hide #{wt.fld} (#{wt.cnt})
          
      div.col.s12.m9 Results
