extends template

block content
  div.container
    div.row
      div.col.s0.m2.offset-m1.sidebar.z-depth-1
        include filters.pug
          
      div.col.s12.m9
        div.col.s12.m6
          h4.works-count Works Found: #{works_count}
        div.col.s12.m6
          label(for='resultsPerPage') Results Per Page:
          select#resultsPerPage(name='resultsPerPage')
            if limit == '10'
              option(selected) 10
            else
              option 10
            if limit == '25'
              option(selected) 25
            else
              option 25
            if limit == '50'
              option(selected) 50
            else
              option 50
            if limit == '100'
              option(selected) 100
            else
              option 100
          button.btn.waves-effect.waves-light.light-blue.darken-2.update-results Update
        div.col.s12.pagination
          //include pagination.pug
        ul.col.s12.collection.works
          each work in works_list
            li.collection-item.avatar
              p.title.work-title= work.work_title
              p.work-type= work.work_type
              p.contributors= work.contributors
              p.work-pub= work.publication
                span.work-date= work.year
        div.col.s12.pagination
          //include pagination.pug
