div.col.s12.works
  if works_list && works_list.length
    each work, index in works_list
      div.card.horizontal.valign-wrapper
        div.card-image.center-align
          if work.coverimage
            img(src=work.coverimage, alt="Cover Image for " + work.work_data.title)
          else
            +getMediaIcon(work.work_type, 'blue-grey')
        div.card-stacked
          div.card-content
            p.title.work-title
              a(href="/works/"+ work.work_id) !{work.work_data.title}

            p.work-type= work.work_type
            if work.work_data.author && work.work_data.author.length
              p.contributors
                each contrib, index in work.work_data.author
                  - var fullname = contrib.given + " " + contrib.family
                  if contrib.contrib-id
                    span
                      a(href="/people/" + contrib.contrib-id)= fullname
                  else
                    span= fullname
                  if index < work.work_data.author - 1
                    | ; 
            p.work-pub
              a(href="/publications/" + work.pubid)= work.publication
              //- span.work-date= work.work_data.issued[0].date-parts[0]
          +buildSearchUrl(work)
          if searchurl || work.archive_url
            div.card-action.right-align
              if work.archive_url
                a.btn-flat.waves-effect.waves-light.blue-text.text-darken-4.local-avail(href=work.archive_url, target="_blank")
                  i.material-icons.left move_to_inbox
                  span= appconf.archive.buttontext
              if searchurl
                if work.work_type == "Book" || work.work_type == "Book Section"
                  - var surl = searchurl
                else
                  - var surl = "#searchurl" + index
                  +holdings(searchurl, work.work_title, index)
                a.btn-flat.waves-effect.waves-light.blue-text.text-darken-4.local-avail(href=surl, target="_blank")
                  i.material-icons.left library_books
                  span= appconf.fulltext.buttontext
  