script(type="text/javascript", src="/js/userdepts.js")

- var currDepts = []

p: b Department/Program Membership

div.row
  div.col.s10.offset-s1
    b Current Departments:

div.row.departments
  ul.collection.col.s10.offset-s1.m8.offset-m1.l6.offset-l1
    each dept in departments
      - currDepts.push({group_id: dept.id, name: dept.name})
      li.collection-item
        div= dept.name
          a.secondary-content.red-text.text-darken-4.deldept(href="#!", data-deptid=dept.group_id, data-deptname=dept.name)
            i.material-icons remove_circle

div.row
  form.col.s10.offset-s1(method="post", action="/user/departments")
    div
      label(for="deptlist") Add a Department: 
      select#deptlist.browser-default(name="deptlist")
        option(value="", disabled, selected) Choose from:
        each d in alldepts
          if _.findWhere(currDepts, {id: d.id})
            option(value=d.id, disabled)= d.name
          else
            option(value=d.id)= d.name
      button.btn.blue.darken-4.waves-effect.waves-light.right(type="submit") Add

include ../popups.pug
